* {
    padding: 0;
    margin: 0;
}

.datepicker { /*日期框容器*/
    position: absolute;
    border: 1px solid #eb8c00;
    width: 203px;
    height: 201px; /*+22*/
    /*height:226px;*/
    /*left: 250px;
    top: 200px;*/
    font-size: 13px;
    font-family: "SimSun";
    background-color: #fff;
    overflow: hidden;
}

    .datepicker .currItem {
        border-color: #eb8c00;
    }

        .datepicker .currItem:hover {
            cursor: default;
        }

    .datepicker .right_icon {
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-left: 8px solid #EB8C00;
        border-bottom: 8px solid transparent;
        margin-left: -1px;
        border-radius: 4px;
    }

    .datepicker .left_icon {
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-right: 8px solid #EB8C00;
        border-bottom: 8px solid transparent;
        margin-left: -1px;
        border-radius: 4px;
    }

.add_cal_len1 { /*第二种日期框高度,无时间，但是需要加高度*/
    height: 226px;
}

.add_cal_len2 { /*有时间，不需要加高度*/
    height: 223px;
}

.add_cal_len3 { /*有时间，需要加高度*/
    height: 248px;
}

.datepicker_title_containter { /*标题容器*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    height: 26px;
    background-color: #f2f2f2;
    overflow: hidden;
    border-bottom: 1px solid #eb8c00;
    /*padding-left:3px;*/
    /*border: 1px solid blue;*/
}

    .datepicker_title_containter span {
        cursor: pointer;
    }

    .datepicker_title_containter .disabled {
        filter: alpha(opacity=0);
        opacity: 0;
        cursor: default;
    }

.datepicker_last_year,
.datepicker_last_month,
.datepicker_title_date,
.datepicker_title_month,
.datepicker_next_year,
.datepicker_next_month { /*标题按钮*/
    /*border: 1px solid red;*/
    /*border-top:1px solid red;*/
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    overflow: hidden;
    float: left;
}

.last_year, .last_month, .next_year, .next_month {
    display: inline-block;
    margin-top: 4px;
}

.datepicker_last_year, .datepicker_next_year {
    width: 30px;
}

    .datepicker_last_year:hover .left_icon, .datepicker_last_month:hover .left_icon {
        border-right: 8px solid #DC6900;
    }

.datepicker_last_month, .datepicker_next_month {
    width: 23px;
}

    .datepicker_next_year:hover .right_icon, .datepicker_next_month:hover .right_icon {
        border-left: 8px solid #DC6900;
    }


.last_year {
    /*border:1px solid red;*/
    width: 25px;
    height: 22px;
}

.last_month {
    /*border:1px solid red;*/
    width: 20px;
    height: 22px;
}

.datepicker_title_date { /*标题按钮*/
    width: 90px;
    padding: 0 3px;
    font-weight: 600;
    font-size: 13px;
}

.next_month {
    /*border: 1px solid red;*/
    width: 20px;
    height: 22px;
}

.next_year {
    display: inline-block;
    /*border:1px solid red;*/
    width: 25px;
    height: 22px;
}

.datepicker_maindata_containter { /*主数据容器（周数据+天数据）*/
    border: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 27px;
    bottom: 0;
    height: 173px; /*+25*/
    background-color: #fff;
    /*height:198px;*/
    /*overflow:hidden;*/
    /*border: 1px solid red;*/
    /*display: none;*/
}

.add_main_date_len1 { /*第二种日期数据容器高度*/
    height: 198px;
}

.datepicker_week_container { /*周容器*/
    /*position: absolute;
    top:26px;*/
    border-bottom: 1px solid #ccc;
    /*border: 1px solid red;*/
}

.datepicker_week { /*周*/
    height: 25px;
    line-height: 25px;
    background-color: #fff;
    padding: 0 1px;
    overflow: hidden;
}

    .datepicker_week div { /*单个周样式*/
        float: left;
        display: inline-block;
        text-align: center;
        width: 25px;
        margin-left: 3px;
        /*border-bottom: 1px solid red;*/
    }

.datepicker_data_containter { /*数据容器*/
    /*background-color:#ccc;*/
    width: 203px;
    position: absolute;
    padding-left: 1px;
    /*border: 1px solid red;*/
}

    .datepicker_data_containter .day {
        background-color: #ccc;
        /*border-radius:12.5px;*/
    }

        .datepicker_data_containter .day:hover {
            background-color: #bbb;
        }

    .datepicker_data_containter .weekend {
        color: #666;
    }

        .datepicker_data_containter .weekend:hover {
            background-color: #ccc;
        }

    .datepicker_data_containter .today {
        background-color: #eb8c00;
    }

        .datepicker_data_containter .today:hover {
            background-color: #DC6900;
        }

    .datepicker_data_containter div, .datepicker_data_containter span { /*单个日期*/
        float: left;
        display: inline-block;
        text-align: center;
        width: 25px;
        height: 25px;
        line-height: 25px;
        margin-left: 3px;
        margin-top: 3px;
    }

        .datepicker_data_containter div:hover {
            cursor: pointer;
            background-color: #DC6900;
            /*border-radius:12.5px;*/
        }

    .datepicker_data_containter .disabled {
        color: #bbb;
    }

        .datepicker_data_containter .disabled:hover {
            cursor: default;
            background-color: transparent;
        }

.datepicker_year_layer { /*年份容器*/
    /*border: 1px solid red;*/
    position: absolute;
    background-color: #fff;
    /*top:27px;*/
    height: 173px;
    top: -173px;
    width: 200px;
    padding: 0 2px;
    /*overflow: hidden;*/
    z-index: 1;
    /*display:none;*/
}

.mainyear_height1 {
    height: 198px; /*+22*/
    top: -198px;
}

.datepicker_year_layer div {
    /*border-top: 1px solid blue;*/
    /*border-bottom: 1px solid blue;*/
    display: inline-block;
    float: left;
    margin-left: 2px;
    margin-top: 4px;
    width: 45px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid transparent;
    /*border: 1px solid blue;*/
}

.datepicker_year_layer .disabled {
    color: #bbb;
}

    .datepicker_year_layer .disabled:hover {
        cursor: default;
        border-color: transparent;
    }

.datepicker_year_layer div:hover {
    cursor: pointer;
    border-color: #eb8c00;
}

.datepicker_month_layer { /*月份容器*/
    /*border: 1px solid blue;*/
    position: absolute;
    background-color: #fff;
    /*top: 27px;*/
    padding: 0 1px;
    height: 173px;
    top: -173px;
    width: 199px;
    overflow: hidden;
    z-index: 1;
    /*display: none;*/
}

.mainmonth_height1 {
    height: 198px; /*+22*/
    top: -198px;
}


.datepicker_month_layer div { /*单个月样式*/
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 4px;
    width: 50px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid transparent;
}

.datepicker_month_layer .disabled {
    color: #bbb;
}

    .datepicker_month_layer .disabled:hover {
        cursor: default;
        border-color: transparent;
    }

.datepicker_month_layer div:hover {
    cursor: pointer;
    border-color: #eb8c00;
}
/*时间部分*/
.datepicker_time_containter {
    position: absolute;
    border-top: 1px solid #eb8c00;
    background-color: #f2f2f2;
    width: 203px;
    position: absolute;
    bottom: 0px;
    height: 22px;
    line-height: 20px;
    /*overflow:hidden;*/
    z-index: 10000;
    text-align: center;
}

    .datepicker_time_containter span {
        display: inline-block;
        width: 25px;
    }

    .datepicker_time_containter .time_txt {
        width: 25px;
        text-align: center;
        border: 0px;
        outline: none;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
    }

    .datepicker_time_containter span:hover {
        cursor: pointer;
    }

.datepicker_hover_layer { /*小时容器*/
    position: absolute;
    height: 173px;
    padding: 0 1px;
    width: 200px;
    background-color: #fff;
    bottom: -176px;
    z-index: 1000;
    /*display: none;*/
    /*border: 1px solid red;*/
}

    .datepicker_hover_layer div {
        border: 1px solid transparent;
        display: inline-block;
        float: left;
        margin-left: 6px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        margin-top: 12px;
    }

        .datepicker_hover_layer div:hover {
            cursor: pointer;
            border-color: #eb8c00;
        }

    .datepicker_hover_layer .disabled {
        color: #bbb;
    }

        .datepicker_hover_layer .disabled:hover {
            cursor: default;
            border-color: transparent;
        }

.datepicker_minute_layer, .datepicker_second_layer {
    position: absolute;
    height: 173px;
    width: 200px;
    padding: 0 1px;
    background-color: #fff;
    bottom: -176px;
    z-index: 1000;
    /*border:1px solid red;*/
    /*display: none;*/
}

    .datepicker_minute_layer div, .datepicker_second_layer div {
        border: 1px solid transparent;
        display: inline-block;
        float: left;
        margin-left: 10px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        margin-top: 15px;
    }

        .datepicker_minute_layer div:hover, .datepicker_second_layer div:hover {
            cursor: pointer;
            border-color: #eb8c00;
        }

    .datepicker_minute_layer .disabled, datepicker_second_layer .disabled {
        color: #bbb;
    }

        .datepicker_minute_layer .disabled:hover, datepicker_second_layer .disabled:hover {
            cursor: default;
            border-color: transparent;
        }
